@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Guerrilla&display=swap');

*{
  font-family: "Protest Guerrilla", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

@theme{
  --color-primary:#F84565;
  --color-primary-dull:#D63854;
}

body{
  color: white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

::-webkit-calender-picker-indicator{
  filter:invert(1);
}